body {
	margin:0;
	padding:0;
	font-size:14px;
	color:#000;
	background:url('../images/bg_index.jpg') repeat-y;
	font-family:Verdana, Geneva, sans-serif;
	}
#box{
	position:relative;
	margin:0 auto;
	width:1000px;
	height:auto;
	top:0;
	left:0;
	border:1px #0ff solid;
	}
#box>div{
	
	}
#box>div:first-child{
	margin:0;
	}
#header{
	width:1000px;
	height:150px;
	position:relative;
	}
#box_animation{
	margin:0!important;
	width:1000px;
	height:280px;
	}
#main_content{
	width:1000px;
	height:auto;
	background-color:transparent;
	opacity:0.8;
	}

.footer{
	width:1000px;
	height:60px;
	background:black;
	text-align:center;
	line-height:60px;
	color:snow;
	opacity:0.8;
	filter:alpha(opacity=80);
	}
#floatDiv{
	position:fixed;
	width:40px;
	height:150px;
	right:20px;
	bottom:200px;
	
	}
#floatDiv div,#floatDiv span{
	cursor:pointer;
	}
